.jumbotron{
    background-color: turquoise;
    color: black;
    align-items: center;
}
footer{
    padding:  10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(204, 233, 241);
    
    
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 6px 2px 6px;
    align-items: center;
}
.btn{
    background-color: turquoise;  
}
.btn-reserva{
    width: 100%;
}